{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Details about {{ mymember.0.brandname }}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <form class="form-inline">
                <div class="input-group">
                    <div class="input-group-append">
                  <!--  <input type="text" class="form-control form-control-lg ml-5 w-100" placeholder="Brand name .." style="width: 500px;">
                    
                        <button type="submit" class="btn btn-primary btn-lg" style="height: 48px;" onclick="">Search</button>

                    </div>-->
                    <form method="get" action="{% url 'main' %}">
                      {% csrf_token %}
                      <input id="myinput" type="text" placeholder="Brand name .." style="width: 360px;" name="search_query">
                      <button type="submit" class="btn btn-primary btn-lg" style="height: 48px;">Search</button>
                  </form>
                </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row mt-5">
      <div class="col-lg-5 col-md-5 col-sm-10 col-xs-10 d-flex align-items-center justify-content-center">
        <img src="{% static 'images/'|add:mymember.0.brandname|add:'-logo.png' %}" alt={{mymember.0.brandname}} style="width: 250px;" class="mx-auto d-block">
      </div>
      <div class="col-lg-5 col-md-5 col-sm-10 col-xs-10">
        <div class="card">
          <div class="card-header" style="text-align: center; padding: 10px;">
            {{mymember.0.brandname}} Ratings
          </div>
          <div id="chart_div" class="chart-box" style="width: 100px; height: 200px; margin: 0 auto; text-align: center; display: flex; align-items: center; justify-content: center;">
            <h1 class="display-4" style="font-size:6em;">{{ratings}}/5</h1>
          </div>
        </div>
      </div>
    </div>
    
      
    <div class="row mt-5">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        {% if mymember.0.brandname == "Apple" %}
          <p>Apple Inc. (Apple) designs, manufactures and markets smartphones, personal computers, tablets, wearables and accessories and sells a range of related services. The Company's products include iPhone, Mac, iPad, AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch and accessories.</p>
        {% elif mymember.0.brandname == "Samsung" %}
          <p>Samsung is a multinational conglomerate headquartered in South Korea. The company produces a wide range of electronics and home appliances, including smartphones, TVs, refrigerators, and washing machines.</p>
        {% elif mymember.0.brandname == "Nokia" %}
          <p>Nokia is a Finnish multinational telecommunications, information technology, and consumer electronics company. The company produces a range of mobile phones, smartphones, and other electronic devices.</p>
        {% elif mymember.0.brandname == "Motorola" %}
          <p>Motorola is an American multinational telecommunications company. The company produces a range of mobile phones and smartphones, as well as other electronic devices, such as tablets and accessories.</p>
        {% else %}
          <p>This is just a test brand for demo/testing purpose.</p>
        {% endif %}
      </div>
    </div>
    

    <div class="row mt-5 mb-3">
        <div class="col-lg-12">
          <h2 class="text-center">User Reviews</h2>
        </div>
      </div>    
    
      <div class="row mt-5">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-header" style="background-color: green; color: white;">Positive reviews</div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for review in topreviews %}
                        <li class="list-group-item">{{review.reviews}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card">
                <div class="card-header" style="background-color: orangered; color: white;">Negative reviews</div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for breview in bottomreviews %}
                        <li class="list-group-item">{{breview.reviews}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    

    <div class="container mt-5">
      <form method="POST" action="{% url 'main' %}"> 
        {% csrf_token %}
        <div class="row">
          <div class="col-lg-12">
            <h2 class="text-center mb-5">Add Your Review</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <input type="hidden" name="detail_brandname" value={{mymember.0.brandname}}>
              <textarea class="form-control" name="review_input"  placeholder="Type your review .." rows="3"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <button type="submit"  value="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </form>
    </div>
    
</div>

{% endblock %}

{% block scripts %}
{% endblock %}

{% block extra_css %}
<style>
.chart-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-width: 200px;
  min-height: 200px;
}

#rating-value {
  font-size: 48px;
}

</style>
{{ form.media.css }}
{% endblock %}

{% block extra_js %}
{{ form.media.js }}
{% endblock %}